# Binary files
mishaboot/eboot/ovmf/
userspace/bin
initrd/.funcs
initrd/bin
libc/bin
*.iso
*.raw
*.img
*.a

# Debug files
debug/

# Build files
build/

# Configuration files
CMakeLists.txt
.bochsrc

# Unfinished stuff
src/dev/usb